.checkoutproduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    padding: 2rem 1rem;
    border-radius: 8px;
    margin-left: 3%;
}

.checkoutproduct_info {
    padding-left: 20px
}

.checkoutproduct_info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
    padding: 0.4rem 0.4rem;
    outline: none;
}



.checkoutproduct_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkoutproduct_rating {
    display: flex;
  }

.checkoutProduct_title {
    font-size: 17px;
    font-weight: 800;
}